body {
    background-color: rgb(203, 178, 226);
}

h1 {
    margin: 1vh 1vw;
    padding: 0.5vh 0.5vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    color:rgb(207, 118, 191);
    /* color:rgb(231, 171, 220); */
    /* -webkit-text-stroke: 0.01rem rgb(161, 10, 10); */
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    color: rgb(97, 96, 97);
}

label, select {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2vw;
    color: rgb(97, 96, 97);
}

.italicize {
    font-style: italic;
}



